docker run -d --restart=unless-stopped {{ ports|default('-p 8080:8080') }} {{ volume_string|default('') }} {{ name_string|default('') }} rancher/{{ server_repo|default('server') }}:{{ server_version|default('stable') }} {{ db_string|default('') }} {{ advertise_string|default('') }}